<!DOCTYPE html>
<html>
  <head>
    <title>BrazilianSoccerTeam</title>

      <style>
        body {background-color: gray;}
        h1   {color: blue;}
        p   {color: black; }
        h3  {color: orange;}
        h3  {color: orange;}
        
        <br>
        </style> <br>


        <%# ########################################################## %>

        

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
